Hello /u/<%= name %>! <a href="/logout">Logout</a>

<table class="table">
  <thead>
    <tr>
      <td>#</td>
      <td></td>
      <td>Score</td>
      <td>Title</td>
    </tr>
  </thead>
  <tbody>
    <% bookmarks.each_with_index do |bm, i| -%>
      <tr>
        <td><%= i + 1 %></td>
        <td><img src="<%= bm[:thumbnail] %>" class="img-fluid" alt="n/a"></td>
        <td><%= bm[:score] %></td>
        <td>
          <% if bm[:title] -%>
            <a href="<%= bm[:url] %>" target="_blank">
              <%= bm[:title] %>
            </a>
          <% else -%>
            Comment
          <% end -%>
            by <%= bm[:author] %>
            <%= bm[:subreddit_name_prefixed] %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
