Hello /u/<%= name %>! <a href="/logout">Logout</a>

<table class="table">
  <thead>
    <tr>
      <td>#</td>
      <td>Id</td>
      <td></td>
      <td>Score</td>
      <td>Title</td>
    </tr>
  </thead>
  <tbody>
    <% listings.each_with_index do |listing, i| -%>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= listing[:author_fullname] %></td>
        <td><img src="<%= listing[:thumbnail] %>" class="img-fluid" alt="n/a"></td>
        <td><%= listing[:score] %></td>
        <td>
          <% if listing[:title] -%>
            <a href="<%= listing[:url] %>" target="_blank">
              <%= listing[:title] %>
            </a>
          <% else -%>
            Comment
          <% end -%>
            by <%= listing[:author] %>
            <%= listing[:subreddit_name_prefixed] %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
